* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./assets/bgWheel.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.wheel-container {
  width: 600px;
  height: 600px;
  position: relative;
  margin-top: 5%;
}

.wheel {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border: 5px solid lightgray;
  overflow: hidden;
  transition: all 5s ease;
  /* transform: rotate(348deg); */
}

.wheel span {
  width: 50%;
  height: 50%;
  position: absolute;
  display: inline-block;
}
.cell1,
.cell5,
.cell9,
.cell13 {
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  clip-path: polygon(0 30%, 0 70%, 100% 50%);
}
.cell2,
.cell6,
.cell10,
.cell14 {
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  clip-path: polygon(0 50%, 100% 30%, 100% 70%);
}
.cell3,
.cell7,
.cell11,
.cell15 {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  clip-path: polygon(30% 0, 70% 0, 50% 100%);
}
.cell4,
.cell8,
.cell12,
.cell16 {
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  clip-path: polygon(50% 0, 70% 100%, 30% 100%);
}
.sector1 {
  width: 100%;
  height: 100%;
  transform: rotate(0.1deg);
  position: absolute;
}

.sector2 {
  width: 100%;
  height: 100%;
  transform: rotate(-134.9deg);
  position: absolute;
}
.sector3 {
  width: 100%;
  height: 100%;
  transform: rotate(-112.5deg);
  position: absolute;
}
.sector4 {
  width: 100%;
  height: 100%;
  transform: rotate(-157.4deg);
  position: absolute;
}

.sector1 span {
  background-color: #f1c40f;
}
.sector2 span {
  background-color: #f1c40f;
}
.sector3 span {
  background-color: #3498db;
}
.sector4 span {
  background-color: #3498db;
}
.prize1 {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 50%;
  position: relative;
  background-color: green;
  color: white;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.free {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  border-radius: 50%;
  position: relative;
  color: white;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.cell13 {
  background-color: purple !important;
}
/* .cell1 b,
.cell5 b,
.cell9 b,
.cell13 b {
  position: absolute;
  transform: rotate(-90deg);
  top: 44%;
  left: 14%;
}
.cell2 b,
.cell6 b,
.cell10 b,
.cell14 b {
  position: absolute;
  transform: rotate(90deg);
  top: 44%;
  left: 75%;
}
.cell3 b,
.cell7 b,
.cell11 b,
.cell15 b {
  position: absolute;
  transform: rotate(0deg);
  top: 15%;
  left: 43%;
} */

.prize2 {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: green;
  color: white;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.prize3 {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: green;
  color: white;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.prize4 {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: green;
  color: white;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-weight: 900;
  padding: 30px 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.btn-start:hover {
  color: green;
}
.arrow {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 40px;
  background-color: orangered;
  cursor: pointer;
  clip-path: polygon(48% 80%, 100% 0, 0 0);
  z-index: 100;
}

.balance-container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gold;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
  color: white;
  display: flex;
  gap: 10px;
}
.balance {
  color: green;
}
.heading {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: gold;
  padding: 10px 20px;
  border-radius: 10px;
}

.bonus-game {
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  gap: 30px;
  font-weight: bold;
  background-color: gold;
  color: green;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
}
.bonus-game span {
  font-size: 30px;
}
.bonus-game .btn-bonus {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: purple;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.bonus-game .btn-bonus:hover {
  background-color: green;
}
.backdrop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

@media screen and (max-width: 1580px) {
  .heading {
    font-size: 24px;
    top: 16%;
  }
}
@media screen and (max-width: 950px) {
  .balance-container {
    font-size: 24px;
    top: 6%;
  }
  .heading {
    font-size: 24px;
    top: 14%;
  }
}

@media screen and (max-width: 650px) {
  .wheel-container {
    width: 400px;
    height: 400px;
  }
  .heading {
    font-size: 24px;
    top: 17%;
  }
  .btn-start {
    font-size: 18px;
    padding: 20px 10px;
  }
}

@media screen and (max-width: 500px) {
  .wheel-container {
    width: 360px;
    height: 360px;
  }
  .heading {
    font-size: 20px;
    top: 20%;
  }
}
